<!DOCTYPE html>
<html>

<head>
  <title>EJS demo</title>
  <link rel="stylesheet" href="layout.css">
</head>

<body>
  <h1> COUNT: <%= book.length %></h1>
  <%= books.forEach((book)) => {
    %>
    <li><% book.title %> : <%book.author %> <img src ="<%book.image_url %>"</li>
  }
</body>

</html>